<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sheet Music International</a>
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>
  </div>
</nav>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="width: 100%">
        <a href="#" class="navbar-left"><img src="https://d13yacurqjgara.cloudfront.net/users/31752/screenshots/1562713/hello-world.png" style="width: 150px; height: 80px"></a>


      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
       
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" (click)="auth.login()" *ngIf="!auth.authenticated()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>

      </ul>
    </div>
  </div>
</nav>

<main  >
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class = "container">
    <div class="row">
      <div class="col-md-4">        
        <ul class="noBullets">
        <li>SMI</li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Site status</a></li></ul>
      </div>
      <div class="col-sm-4">
        <ul class="noBullets">
        <li>Services</li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Upload</a></li>
        <li><a href="#">My Profile</a></li></ul>
      </div>
      <div class="col-sm-4">
        <ul class="noBullets">
        <li>Other</li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Report issue</a></li></ul>
      </div>
    </div>
  </div>
</footer>